.l-main-section
  h2 Projets Angular
  p Nous aimerions que vous contribuez à notre code source pour rendre les projets Angular encore meilleurs.

  .l-sub-section
    h3 Angular 2

    p Angular 2 est la plate-forme de développement d'applications mobiles et de bureau de nouvelle génération.

  a(href="https://github.com/angular/angular/blob/master/CONTRIBUTING.md" class="button" md-button) Contribuer à Angular 2

  .l-sub-section
    h3 Angular pour JavaScript ou Dart

    p Angular est une plate-forme de développement pour construire des applications mobiles et de bureau.

    a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button) Contribuer à Angular pour JS

    a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button) Contribuer à Angular pour DART

  .l-sub-section
    h3 Matériels Angular

    p Notre objectif est de fournir un petit ensemble léger d'éléments de l'interface utilisateur propres à Angular qui implémente la spécification de design material à utiliser dans les application à page unique d'Angular (SPAs).
    a(href="https://github.com/angular/material/blob/master/.github/CONTRIBUTING.md" class="button" md-button) Contribute to Angular Material

  .l-sub-section
    h3 AngularFire

    p AngularFire est officiellement pris en charge pour relier Angular avec Firebase. Firebase est un backend complet, alors vous n'aurez pas besoin de serveurs pour construire votre application Angular.

  a(href="https://github.com/firebase/angularFire" class="button" md-button) Contribuer à AngularFire
