.l-main-section
  h2 Projets Angular
  p Nous aimerions que vous contribuez à notre code source pour rendre les projets Angular encore meilleurs.

  .l-sub-section
    h3 Angular 2

    p Angular 2, encore en RC, est la plate-forme de développement d'applications mobiles et Web de nouvelles génération.

  a(href="https://github.com/angular/angular/blob/master/CONTRIBUTING.md" class="button" md-button) Contribuer à Angular 2

  .l-sub-section
    h3 Angular pour JavaScript ou Dart

    p Angular 2 est la plate-forme de développement d'applications mobiles et Web.

    a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button) Contribuer à Angular pour JS

    a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button) Contribuer à Angular pour DART

  .l-sub-section
    h3 Matériels Angular

    p Notre objectif est de fournir un ensemble de composants graphiques légers respectants les spécifications material design, pour le développement d'application monopages (SPA).
    a(href="https://github.com/angular/material/blob/master/.github/CONTRIBUTING.md" class="button" md-button) Contribute to Angular Material

  .l-sub-section
    h3 AngularFire

    pAngularFire est la librairie officielle pour le support de Firebase. Firebase est une technologie backend complète pour le développement d'applications Web et mobile.
    
    a(href="https://github.com/firebase/angularFire" class="button" md-button) Contribuer à AngularFire
