div
  div
    h2(class="text-headline") Multi-Plateformes
    div(class="feature-row")
      div(class="feature")
        h3 Progressive Web Apps
        p(class="text-body") Utilisez les capacités de la plate-forme Web moderne pour offrir des expériences similaires aux applications mobiles natives. Haute performance, hors ligne et l'installation rapide.

      div(class="feature")
        h3 Native
        p(class="text-body") Construisez des applications mobiles natives avec l'aide du framework Ionic, NativeScript, et React Native.

  div(class="feature")
        h3 Bureau
        p(class="text-body") Créez des applications pour Mac, Windows, et Linux en utilisant les mêmes API Angular que vous avez apprises pour le Web avec, en plus, la possibilité d'accéder aux APIs natives des systèmes d'opération.

    h2(class="text-headline") Rapidité & Performance
    div(class="feature-row")
      div(class="feature")
        h3 Code generation
        p(class="text-body") Angular turns your templates into code that's highly optimized for today's JavaScript virtual machines giving you all the benefits of hand-written code with the productivity of a framework.
        p(class="text-body") Angular transforme votre modèle à du code hautement optimisé pour les machines virtuelles du JavaScript actuel vous donnant tous les bénéfices d'un code écrit à la main combiné avec la productivité d'un framework.
      div(class="feature")
        h3 Universel
        p(class="text-body")  Servir la première vue de votre application sur node.js, .NET, PHP et autres serveur pour un rendu quasi-instantanné avec seulement de l'HTML et du CSS. Également ouvre la voie pour les sites qui optimisent pour le référencement.
div(class="feature")
        h3 Fractionnement De Code
        p(class="text-body") Les applications Angular chargent rapidement avec le nouveau routeur de composants qui livre un fractionnement automatique du code afin que les utilisateurs chargent uniquement le code requis pour rendre la vue qu'ils demandent.

  h2(class="text-headline") Productivité
    div(class="feature-row")
      div(class="feature")
        h3 Templates
        p(class="text-body") Créez rapidement des interfaces graphiques avec une syntaxe simple et puissante dans l'HTML.
      div(class="feature")
        h3 Angular CLI
        p(class="text-body") Outil de ligne de commande : commencez rapidement la construction, ajoutez des composants et des tests, puis déployez instantanément.
      div(class="feature")
        h3 IDEs
        p(class="text-body") Disposez d'une complétion de code intélligente, les erreurs et les autres retours instantannés des éditeurs et des environnement de développement populaires.

    h2(class="text-headline") Histoire Complète du Développement
    div(class="feature-row")
      div(class="feature")
        h3 Testing
        p(class="text-body") Avec Karma pour les tests unitaires, vous pouvez savoir si vous avez des fonctionnalités cassées à chaque fois que vous enregistrez. Et Protractor rend vos tests de scénario marcher plus vite et d'une manière stable.
div(class="feature")
        h3 Animation
        p(class="text-body") Créer des animations complexes, de haute performance complexes et des calendriers d'animation avec très peu de code via l'API intuitive d'Angular.
div(class="feature")
        h3 Accessibilité
        p(class="text-body") Créer des applications accessibles avec des composants respectant la norme ARIA, des guides de développement et des infrastructures de test d'accessibilité intégrés.

!= partial("/_includes/_cta-bar")
