include _includes/_util-fns

div(class="home-rows")
  // Group 1
  div(layout="row" layout-xs="column" class="home-row")
    div(class="promo-img-container promo-1")
      div
        img(src="resources/images/home/responsive-framework.svg")
    div(class="text-container")
      div(class="text-block promo-1-desc l-pad-top-2")
        h3(class="text-headline") Developpez Sur toutes les Plateformes
        p(class="text-body").
          Apprenez une seule façon de construire des applications avec Angular et à réutiliser votre code et compétences pour créer des applications pour n'importe quelle cible. Pour le web, web mobile, mobile natif et bureau natif.

  // Group 2
  div(layout="row" layout-xs="column" class="home-row")
    div(class="text-container")
      div(class="text-block")
        h3(class="text-headline") Rapidité & Performance
        p(class="text-body").
          Atteignez la vitesse maximale possible sur les plateformes web d'aujourd'hui, et allez plus loin, via les Web Workers et le rendu côté serveur.
        br
        p(class="text-body").
          Angular vous met en position de contrôller votre scalabilité. Répondez aux exigences énormes des données en construisant des modèles de données sur RxJS, Immutable.js ou un autre push-model.
    div(class="promo-img-container promo-2")
      div
        img(src="resources/images/home/speed-performance.svg")

  // Group 3
  div(layout="row" layout-xs="column" class="home-row")
    div(class="promo-img-container promo-3")
      div
        img(src="resources/images/home/joyful-development.png")
    div(class="text-container")
      div(class="text-block promo-3-desc")
        h3(class="text-headline") Outillage Incroyable
        p(class="text-body").
          Construisez des fonctionnalités rapidement avec des modèles simples et déclaratifs. Étendez le langage du modèle avec vos propres composants et utilisez un large éventail de composants déjà existants. Obtenez de l'aide et du feedback instantannées spécifiques à Angular avec presque tous les IDE et éditeur. Tout cela est réuni pour que vous puissiez vous concentrer sur la création de superbes applications plutôt que d'essayer de faire fonctionner le code.
  // Group 4
  div(layout="row" layout-xs="column" class="home-row")
    div(class="text-container")
      div(class="text-block l-pad-top-2")
        h3(class="text-headline") Aimé par des Millions
        p(class="text-body").
          Du prototype au déploiement global, Angular délivre de la productivité et une infrastructure scalable qui supporte les dernières application de Google.
    div(class="promo-img-container promo-4")
      div
        img(src="resources/images/home/loved-by-millions.png")
        
  .cta-bar
    a(href="/docs/ts/latest/quickstart.html" class="button button-large button-shield md-raised " + "md-primary" md-button) Commencez

