div(class="presskit-container l-space-neg-top-8")
  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 LOGO ANGULAR
        p Les graphiques du logo qui sont disponibles pour le téléchargement sur cette page sont fournis sous <a class="cc-by-anchor" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. Cela signifie que vous pouvez faire à peu près ce que vous voulez avec, y compris l'impression sur des pulls, créer vos propres variations, ou vous faire tatouer sur votre nombril.
        p Nous vous demandons de ne pas utiliser le reste du graphique du site dans d'autres contextes afin d'éviter toute confusion.
        
  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        img(src="resources/images/logos/angular2/angular.svg")
      div
        h3(class="l-space-left-3") LOGO COULEUR ENTIER
        ul(class="l-space-left-3")
          li
            span Logo Angular (png) - <a href="resources/images/logos/angular2/angular.png" download>Téléchargez</a>
          li
            span Logo Angular (svg) - <a href="resources/images/logos/angular2/angular.svg" download>Téléchargez</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular2/angular_solidBlack.svg")
      div
        h3(class="l-space-left-3") LOGO UNE COULEUR
        ul(class="l-space-left-3")
          li
            span LOGO Angular Noir (png) - <a href="resources/images/logos/angular2/angular_solidBlack.png" download>Téléchargez</a>
          li
            span Logo Angular Noir (svg) - <a href="resources/images/logos/angular2/angular_solidBlack.svg" download>Téléchargez</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular2/angular_whiteTransparent.svg" class="transparent-img-bg")
      div
        h3(class="l-space-left-3") LOGO UNE COULEUR INVERSÉ
        ul(class="l-space-left-3")
          li
            span Logo Angular Blanc Semi-Transparent (png) - <a href="resources/images/logos/angular2/angular_whiteTransparent.png" download>Téléchargez</a>
          li
            span Logo Angular Semi-Transparent (svg) - <a href="resources/images/logos/angular2/angular_whiteTransparent.svg" download>Téléchargez</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 PRESSE ET MEDIA
        p
        | Pour toutes questions concernant la presse et les médias merci de nous contacter sur
        | <a href="mailto:press@angular.io">press@angular.io</a>.
