.support-content
  .grid-fluid
    .c4
      figure
        img(src="/resources/images/support/stackoverflow-logo.png" alt="Nous" style="width:240px;")
    .c8
      p <a href="http://stackoverflow.com/questions/tagged/angular2" target="_blank">angular2</a>
      p <a href="http://stackoverflow.com/questions/tagged/angular2-forms" target="_blank">formulaires-angular2</a>
      p <a href="http://stackoverflow.com/questions/tagged/angular2-template" target="_blank">modèle-angular2</a>
  
  hr

  .grid-fluid
    .c4
      figure
        img(src="/resources/images/support/gitter-logo.png" alt="Nous" style="width:240px;")
    .c8
      p Canal de la Communauté<a href="https://gitter.im/angular/angular" target="_blank">chat en temps réel</a>

  //
    hr
     .grid-fluid
       .c4
         figure
           img(src="/resources/images/support/angular-gde-logo.png" alt="Us" style="width:240px;")
       .c8
         p Are you looking for an Angular expert? Our experts provide various types of consulting, training, and other services. You can find our awesome GDEs on our <a href="#" target="_blank">Angular GDE page.</a>

  hr

  .grid-fluid
    .c4
      figure
        img(src="/resources/images/support/github-logo.png" alt="Nous" style="width:240px;" )
    .c8
      p Fichier des issues Angular 2 sur notre <a href="https://github.com/angular/angular/issues" target="_blank">Référenciel Github</a>

   hr

  .grid-fluid
    .c4
      figure
        img(src="/resources/images/support/reddit-logo.png" alt="Us" style="width:240px;" )
    .c8
      p Resources, articles, discussions &amp; plus:  <a href="https://www.reddit.com/r/angular2/" target="_blank">/r/Angular2</a>
