style(rel='stylesheet').
    .fake-centered {
        width: 440px;
        margin: 0 auto;
        text-align: left;
    }

.grid-fluid.l-space-bottom-4
    .c2 &nbsp;

    .c8.text-center
        p.text-body.
            Les résultats du Hackaton Angular Cardboard sont disponibles !

        - for (var i = 0; i < 5; i++)
            img(src="/resources/images/cardboard/cardboard.png" alt="" width="20%")
    .c2 &nbsp;
    .clear
.grid-fluid.l-space-bottom-6.text-center
    .c2 &nbsp;
    .c8
        div.l-space-bottom-4.banner.is-centered.banner-ng-annoucement
          h2 Félicitations Albert Sanchez et Vlado Tešanović!
          p.
            En savoir plus sur les candidatures gagnantes sur le <a href="http://blog.ionic.io/announcing-the-angular-cardboard-hackathon-winners/">Blog d'Ionic</a>.
        div.fake-centered
          p Candidatures évaluées dans deux catégories:
          ul
              li Application la Plus Engageante
              li.
                Meilleure Demonstration Technologique
                <br>
                <small>Indication Énorme: Angular 2 points des scores</small>

          p Vous n'avez pas de Cardboard et vous en voulez une ? Par ici:
          p.text-center
            a(href="http://www.unofficialcardboard.com/")
              img(src="/resources/images/cardboard/UC_Logo_Black.png" alt="Cardboard non officiel" width="30%")

          h4 <a href="/cardboard/CardboardContestRules.pdf">Règlement du Concours</a>

          p <a href="/cardboard/CardboardContestRules.pdf">Lien des Termes et Conditions </a> | <a href="http://www.google.com/policies/">Lien de la Charte de Confidentialité de Google</a>

    .c2 &nbsp;




