- var base = current.path[4] ? '.' : './guide';
.banner
  p.text-body Cet aide-mémoire risque de connaître des évolutions. Angular 2 est actuellement en Release Candidate.

article(class="l-content-small grid-fluid docs-content")
  .cheatsheet
    ngio-cheatsheet(src= base + '/cheatsheet.json')
