div(flex)
  p.
    Quelle est la version concernée par votre question&nbps;?
  select#feedback-dropdown(name="Angular Version")
    option(value="Angular2") Angular2
    option(value="AngularJS") AngularJS
  button#feedback-btn.
    Envoyer
