// TODO: don't duplicate text that's in /docs/dart/latest/resources.jade
.l-main-section
  h2 Blog Posts de Victor Savkin
  ul
    li: a(href="http://victorsavkin.com/post/137821436516/managing-state-in-angular-2-applications") Gérer l'Etat dans une application Angular 2
    li <a href="http://victorsavkin.com/post/114168430846/two-phases-of-angular-2-applications">Les deux phases des applications Angular 2</a>
    li <a href="http://angularjs.blogspot.com/2015/03/forms-in-angular-2.html">Les formulaires en Angular 2</a>
    li <a href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2">Détection du changement</a>
    li <a href="http://victorsavkin.com/post/108837493941/better-support-for-functional-programming-in">Programmation Fonctionnelle </a>
    li <a href="http://victorsavkin.com/post/102965317996/angular-2-bits-unified-dependency-injection">Injection de dépendance</a>

.l-main-section
  h2 <span class="icon-play-circle-outline"></span> Videos

  h4 Vidéos d'introduction
  ul
    li <a href="https://www.youtube.com/watch?v=uD6Okha_Yj0">Construire une To Do App</a> par David East
    li <a href="https://www.youtube.com/watch?v=4C4bmDOV5hk">Les formulaires en Angular 2</a> par David East

  h4 ng-conf
  ul
    li Playlist <a href="https://www.youtube.com/watch?v=QHulaj5ZxbI&index=1&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">des videos de la ng-conf 2015</a>.
    li <a href="https://www.youtube.com/watch?v=QHulaj5ZxbI&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Keynote du Jour 1</a>: Un aperçu global d'Angular 2, de la migration, et de notre trajectoire.
    li <a href="https://www.youtube.com/watch?v=-dMBcqwvYA0&index=21&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Keynote du Jour 2</a>: Misko et Rado plongent dans les détails d'Angular 2.
    li <a href="https://www.youtube.com/watch?v=AbunztfV5vU&index=6&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Créer des Composants Conteneurs avec Web Components en Angular</a>: Kara Erickson &amp; Rachael L Moore.
    li <a href="https://www.youtube.com/watch?v=jvKGQSFQf10&index=31&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">La détection du changement réinventée</a>: Pourquoi la détection du changement en Angular 2 est immédiatement plus rapide, et les options pour l'accélérer davantage.

  h4 ng-europe
  ul
    li Oct 2014 <a href="https://www.youtube.com/watch?v=lGdnh8QSPPk&list=PLhc_bKwZngxW_ZlY0NkaGkvKpiA_pzcZ-">playlist des vidéos de la ng-europe concernant Angular 2</a> et du futur d'Angular.


.l-main-section
  h2 <span class="icon-content-copy"></span> Design de l'API Docs &amp; Notes
  ul
    li <a href="https://drive.google.com/open?id=0B7GYXx6a6d8QR3lTT1J3MEpRSlE&authuser=0">Bonnes pratiques</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbacUnUxc3l5aTZrbVk&authuser=0">API Design Docs</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbacMEZDc2NtWS1VZ1k&authuser=0">Notes de Meeting</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbaceGc2dlhGQnMzYXc&authuser=0">Présentations</a>
    li <a href="http://goo.gl/sj0Nk1">Plus...</a>
