include ../_util-fns

:marked
  We’ll need an Angular application to test, one as simple as possible while having most of the angular features we want to test.

  Nous avons besoin d'une Application Angular à tester, une application aussi simple que possible tout en ayant la plupart des fonctionnalités Angular que nous voulons tester.

  What better app than our own [The Tour of Heroes](../tutorial/toh-pt5.html)? We're already quite familiar with it and it fits our criteria, so let's try to test what we've done there.
  
  Quelle meilleure application que notre [Tours des Héros](../tutorial/toh-pt5.html)? Nous sommes déja bien familié avec elle et elle correspond à nos critères, alors essayons de tester ce que nous avons fait. 

  We might end up modifying it a bit, because it doesn't have everything we want to test, but it's the perfect starting point.
  
  Il est possible que nous la modifions un peut, car elle n'a pas tout ce que nous voulons tester, mais elle est parfaite pour commencer. 

  Create a copy of the Tour of Heroes app so that we can fiddle without fear.

  Créer une copie de notre application Tour des Héros pour que nous puissions la modifier sans peur.
