.l-main-section
  h2 Recevoir de l'aide sur l'utilisation d'Angular

  p.
    Nous avons une incroyable communauté de développeurs qui adorent résoudre des problèmes.
    Nous vous recommandons l'une des méthodes suivantes pour recevoir de l'aide sur Angular.


  .l-sub-section
    h3 Groupe Google Angular

    ol
      li.
        Cherchez d'abord dans les archives.
        Il est très probable que votre question ait déjà été posée.
      li.
        Pour éviter la file d'attente de modération du spam
        n'incluez pas directement de code dans votre email. (Voir #3)
      li.
        Envoyez un lien vers un exemple de code en ligne reproduisant votre problème ou votre question,
        cela vous permettera d'obtenir une réponse plus rapidement.
        <a href="http://plnkr.co/edit/jISF8yxbVGmarpBbqsYW?p=preview">Utilisez cette base</a>.
      li.
        Si vous vous faites aider, aidez les autres. Le bon karma, c'est la vie !

    a(href="https://groups.google.com/forum/#!forum/angular" class="button button-primary" md-button) Voir le groupe Google
    
  .l-sub-section
    h3 Salon de discussion Angular

    p Discutez directement avec d'autres développeurs Angular.

    a(href="http://webchat.freenode.net/?channels=angularjs&uio=d4" class="button button-primary" md-button) Rejoindre le salon de discussion

  .l-sub-section
    h3 Déclarer un problème

    p Si vous rencontrez un problème ou souhaitez une évolution, vous pouvez créer une nouvelle issue sur notre dépôt GitHub.

    a(href="https://github.com/angular/angular/issues" class="button button-primary" md-button) Déclarer un problème
